body {	
  display: flex;
	justify-content: center;
  align-items: center;
  font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #2f6f37	
}

.container {
  display: flex;
  align-items: center;
  justify-content: start;
	width: 60%;
	height: 550px;
}

.screen {
  display: flex;
  align-items: center; /* horizontal */
  justify-content: space-around; /* vertical */
  width: 50%;
  min-height: 30rem;
}

canvas{
	background:black;
	border: 5px double #2f6f37;
}

.hud {
  display: flex;
  align-items: center;
	justify-content: center;
  flex-direction: column;
  width: 50%;
	padding: 1.3rem 0;
	margin-left: 200px;
}

.group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 1.3rem 0;
}

ul {
	margin: 10px 15px 30px 0;
	padding: 0;
	display: flex;
}

 ul li {
  list-style: none;
  font-size: 26px;
	width: 0;
	height: 0;
	margin: 0 20px;
	animation: jumping 1s linear infinite;
}

@keyframes jumping {
	0% { transform: translateY(0); }
	50% { transform: translateY(-10px); }
	100% { transform: translateY(0); }
}

 ul li:nth-child(1) {
	animation-delay: 0.05s;
}

 ul li:nth-child(2) {
	animation-delay: 0.2s;
}

 ul li:nth-child(3) {
	animation-delay: 0.3s;
}

 ul li:nth-child(4) {
	animation-delay: 0.4s;
}

 ul li:nth-child(5) {
	animation-delay: 0.5s;
}

h3 {
}

/* Dark Mode Feature */ 

.dark-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
	height: 20vh;
}

.checkbox {
  position: absolute;
	opacity: 0;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	position: relative;
	height: 16px;
	width: 40px;
	transform: scale(1.5);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

.fa-moon {
	color: #0095f6;
}

.fa-sun {
	color: #f39c12;
}

body.dark {
	background: #000000;
}